.item-list {
    width: 100%;
    position: relative;
    padding: 15px;
}

.item-title {
    width: 100%;
    font-size: 23px;
}

.item-content {
    display: flex;
    flex-flow: row wrap;
}

.item-box {
    width: 200px;
    height: 100%;
}

.item-content>.item-box {
    margin: 10px 10px 0;
}