<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/shop/shopManage.css">
</head>

<body ng-app="common">

  <% include ../fixMenu/header.html %>

  <div class="warp">

    <% include ../fixMenu/sideBar.html %>

    <div class="main-box">
      <div id="shopManage" class="flex flex-column full-width full-height padding-50px " ng-controller="shopManageController">
        <div class="shop-item-box flex-column shop-box">
          <div class="flex shop-item-title">
            <span>쇼핑 아이템 목록</span>
          </div>

          <div class="shop-item-list full-width flex flex-row overflow-y-auto full-height">
            <div class="full-width flex flex-row ">
              <div class="flex item-content" ng-repeat="data in itemList">
                <div class="item-box">
                  <img class="shopImage" src="{{data.imageSrc}}">
                  <div class="flex">
                    <span>이름: {{data.itemName}}</span>
                  </div>
                  <div class="flex">
                    <span>가격: {{data.itemPrice}} 원</span>
                  </div>
                  <div class="flex flex-row">
                    <span class="tag-exp" ng-repeat="tagList in data.itemTag">{{tagList.name}}</span>
                  </div>
                  <div class="flex " style="margin-top:2px;">
                    <button type="button" class="btn-style full-width" ng-click="deleteItem(data, $event)">삭제하기</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="shop-tag-box flex-column shop-box">
          <div class="flex shop-tag-title">
            <span>쇼핑 태그 목록</span>
          </div>

          <div class="shop-tag-list-box full-width flex flex-row overflow-y-auto full-height"  >

            <div class="flex shop-tag-list" ng-repeat="tag in tagList">
              <div class="flex shop-tag-item" ng-click="removeTag(tag)">
                  <span>{{tag.name}}</span>
                  <i class="material-icons"> close </i>
              </div>
            </div>

            <div class="flex" style="width: 300px;">
              <form class="flex" autocomplete="off">
                <input id="tagName" class="form-control shop-tag-item flex-1 auto-cursor" placeholder="태그 이름">
                <input id="tagCode" class="form-control shop-tag-item flex-1 auto-cursor" placeholder="태그 코드">
                <button class="btn-style shop-tag-item flex-1" ng-click="addTag()">추가하기</button>
              </form>
            </div>

          </div>

        </div>

      </div>
    </div>


  </div>


  <% include ../fixMenu/footer.html %>
  <!-- <script  src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

  <% include ../fixMenu/script.html %>
  <script src="/js/shop/shopManage.js"></script>

</body>

</html>