<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/shop/shopAdd.css">
</head>

<body ng-app="common">

  <% include ../fixMenu/header.html %>

<div class="warp">

  <% include ../fixMenu/sideBar.html %>

  <div class="main-box">
    <div id="shopContent" class="flex flex-row full-width full-height padding-50px " ng-controller="shopAddController">
      <form id="myForm"
      class="flex flex-row full-height full-width" method='post' enctype="multipart/form-data" autocomplete="off">

        <div class="full-width flex flex-column full-height ">

          <div class="flex full-height full-width flex-column flex-center">

            <img id="itemImg" src="/image/shopImage/default.png" >

            <div class="filebox flex"> 
              <label class="btn-style" for="image">이미지 불러오기</label> 
              <input type="file" id="image" name="image" onchange="imageChange(this)"> 
            </div> 

            <div class="flex" style="width:270px;"> 
              <span>이름</span>
              <input id="itemName" type="text" name="name" class="form-control" accept="image/x-png,image/jpeg">
            </div>

            <div class="flex" style="width:270px; margin-top:20px;">
                <span>금액</span>
                <input id="shopPrice" type="number" name="price" class="form-control">
                <span>원</span>
            </div>
            

          </div>

          <div class="flex full-height flex-end full-width flex-column">
            <button id="shopAdd" type="submit" class="btn-style" ng-click="addShopItem()">
              상품 추가하기
            </button>
          </div>
        </div>

        <div class="full-width flex full-height flex-row overflow-ellipsis">

          <div class="full-width flex full-height flex-column overflow-ellipsis" style="flex:1;">

            <div class="flex full-width flex-center tag-title tag-border border-right-none">
              추가한 태그이름
            </div>

            <ul class="list-group full-width full-height tag-ul tag-border border-right-none">
              <li ng-repeat="list in addTagList" ng-click="addTagListClick($event)">
                {{list.name}}
              </li>
            </ul>
            <button type="button" class="btn-style padding-10px" ng-click="deleteTag()" style="border-right:1px solid #e2e2e2;border-left:1px solid #e2e2e2;">
              지우기
            </button> 
          </div>

          <div class="full-width flex full-height flex-column overflow-ellipsis" style="flex:1;">
            <div class="flex full-width flex-center tag-title tag-border">
                추가한 태그이름
              </div>
    
              <ul class="list-group full-width full-height tag-ul tag-border">
                  <li ng-repeat="list in tagList" ng-click="tagListClick($event)">
                    {{list.name}}
                  </li>
              </ul>
              <button type="button"  class="btn-style padding-10px" ng-click="addTag()">
                  추가하기
              </button>
          </div>

        </div>

    </form>

    </div>
  </div>


</div>


  <% include ../fixMenu/footer.html %>
  <!-- <script  src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

  <% include ../fixMenu/script.html %>
  <script src="/js/shop/shopAdd.js"></script>

</body>

</html>