<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Portfolio</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/board/boardList.css">
</head>

<body ng-app="common">

  <% include ../fixMenu/header.html %>
 
  <div class="warp">
    <% include ../fixMenu/sideBar.html %>

    <div class="main-box">
      <div id="boardList" class="flex full-width full-height" ng-controller="boardController">
        <div id="boardHead" class="flex flex-row board-title">
          <div id="boardTitle">
            <%=boardMasterNickName%> 
          </div>
          <div>
            의 게시판입니다.
          </div>
        </div>

        <div id="boardTable" class="flex full-width">

          <div id="boardRowList" class="flex full-width">
            <div class="board-list flex-row full-width" ng-repeat="boardItem in boardList">
                <div class="item-head border-item-list flex">
                  <span>
                    {{boardItem.head}}
                  </span>
                </div>
                <div class="item-title border-item-list flex">
                  <a title="{{boardItem.title}}" href="/boardList/{{boardItem.domainShowIdx}}">
                      {{boardItem.title}}
                  </a>
                </div>
                <div class="item-writer border-item-list flex">
                  <span>
                    {{boardItem.writer}}
                  </span>
                </div>
                <div class="item-data border-item-list flex">
                  <span>
                    {{boardItem.date}}
                  </span>
                </div>
              </div>
          </div>
          

          <div id="boardMenuList" class="flex-row flex full-width">
            <div style="margin-right:auto">

            </div>
            <div id="pagingList" class="flex ">

            </div>
            <div class="flex" style="margin-left:auto;">
              <a href="/board/write/<%=boardMasterId%>" id="boardWrite">
                글쓰기
              </a>
            </div>

          </div>

        </div>

      </div>

    </div>
  </div>




  <% include ../fixMenu/footer.html %>
  <!-- <script  src="https://code.jquery.com/jquery-1.12.4.js"></script> -->

  <% include ../fixMenu/script.html %>
  <script src="/js/board/boardList.js"></script>

</body>

</html>